.paneSelector {
  -moz-appearance: -moz-mac-unified-toolbar;
  margin: 0;
  padding: 1px 4px;
}

radio[pane] {
  border: solid transparent;
  border-width: 0 2px;
  -moz-appearance: none;
  padding: 5px 4px 3px;
  margin: 0;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
}

radio[pane][selected="true"] {
  -moz-border-image: url("chrome://browser/skin/preferences/panebutton-active.png") 0 2 repeat;
}

#socialitePreferences:not([active="true"]) radio[pane][selected="true"] {
  -moz-border-image: url("chrome://browser/skin/preferences/panebutton-inactive.png") 0 2 repeat;
}
