/* Copied from /themes/pinstripe/global/global.css */

/* Mimic default fancy OSX notification bar buttons */

.socialite-notification-button {
	-moz-appearance: none;
  background: url("chrome://global/skin/icons/white-gray-gradient.gif") transparent repeat-x center center;
  -moz-background-clip: padding;
  border: 1px solid;
  border-bottom-width: 2px;
  -moz-border-radius: 10px;
  -moz-border-top-colors: rgba(0,0,0,0.5);
  -moz-border-right-colors: rgba(0,0,0,0.5);
  -moz-border-bottom-colors: rgba(255,255,255,0.35) rgba(0,0,0,0.5);
  -moz-border-left-colors: rgba(0,0,0,0.5);
  padding: 0 5px;
  min-width: 79px;
  min-height: 17px;
}

.socialite-notification-button:hover:active {
  background-image: url("chrome://global/skin/icons/white-gray-gradient-active.gif");
}