.socialite-sitelink {
  border-right: #BBB solid 1px !important;
  padding-right: 10px;
  margin-right: 5px;
}

.socialite-title {
  margin-top: 2px;
}

.socialite-score {
  font-weight: bold;
  color: #969696;
  margin-left: 5px;
  margin-right: 4px;
}

.socialite-section {
  color: #969696;
}

.socialite-section:hover {
  text-decoration: underline;
}

.socialite-liked {
  color: #FF8B60;
}

.socialite-disliked {
  color: #9494FF;
}
