.socialite-sitelink {
}

.socialite-title {
  margin-bottom: 2px !important;
}

.socialite-score {
  font-weight: bold;
  color: #969696;
  margin-left: 5px;
  margin-right: 4px;
}

.socialite-separator {
  margin-left: 7px !important;
  margin-right: 7px !important;
  border: none !important;
  border-left: 1px solid black !important;
  opacity: 0.25;
}


.socialite-section {
  color: #969696;
}

.socialite-section:hover {
  text-decoration: underline;
}

.socialite-liked {
  color: #FF8B60;
}

.socialite-disliked {
  color: #9494FF;
}
