.reddit-content-ui[isloggedin="false"] .buttonbox > .reddit-logged-in {
  display: none;
}

.reddit-content-ui[isloggedin="true"] .buttonbox > .reddit-not-logged-in {
  display: none;
}

.reddit-score {
  font-weight: bold;
  color: #969696;
  margin-left: 5px;
  margin-right: 4px;
}

.reddit-score-tooltip {
	-moz-binding: url(chrome://socialite/content/reddit/scoreTooltip.xml#scoretooltip);
}

.reddit-liked {
  color: #FF8B60;
}

.reddit-disliked {
  color: #9494FF;
}

.reddit-subreddit {
  color: #969696;
}

.reddit-subreddit:hover {
  text-decoration: underline;
}
