.socialite-title {
  margin-bottom: 2px !important;
}

.socialite-site-name {
  margin-left: 4px;
  margin-right: 0;
}

.socialite-separator {
  margin-left: 7px !important;
  margin-right: 7px !important;
  border: none !important;
  border-left: 1px solid black !important;
  opacity: 0.25;
}

.socialite-menulist-iconic > menupopup > .menuitem-iconic  > .menu-iconic-left {
  /* Why on earth do I have to do this? */
  display: -moz-box;
}

.socialite-menulist-compact > menupopup > menuitem {
  /* Ditto. Wtf? Why does every single menuitem waste 30px of space on the right? */
  padding-right: 0;
}

.socialite-menulist-compact > menupopup > menuitem > .menu-accel-container {
  display: none;
}

.socialite-toolbarbutton-compact > .toolbarbutton-icon {
  margin: 0;
}

hbox[anonid="siteSelector"] {
  -moz-binding: url(chrome://socialite/content/socialiteBar.xml#socialite-site-selector);
}

hbox[anonid="loadedSiteSelector"] {
  -moz-binding: url(chrome://socialite/content/socialiteBar.xml#socialite-loaded-site-selector);
}

/* Google toolbar's blanket CSS rule for notifications will interfere unless these are !important */
notification[value="socialite-contentbar-notification"] {
  -moz-binding: url(chrome://socialite/content/socialiteBar.xml#socialite-content-bar) !important;
}

notification[value="socialite-submitbar-notification"] {
  -moz-binding: url(chrome://socialite/content/socialiteBar.xml#socialite-submit-bar) !important;
}

.socialite-no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.socialite-notification-button[image] > .button-box > .button-icon,
.socialite-notification-button > .button-box > .button-icon[src] {
  margin-right: 3px;
}

.socialite-button-compact {
  min-width: 0 !important;
}
.socialite-button-compact > .button-box {
  min-width: 0 !important;
  padding: 0;
}
.socialite-button-iconic > .button-box > .button-icon {
  margin-left: 3px;
  margin-right: 3px;
}
.socialite-button-iconic > .button-box >  .button-text {
  display: none;
}

.socialite-urlbar-icon {
  -moz-binding: url(chrome://socialite/content/urlBarIcon.xml#urlbar-icon);
}

.socialite-site-urlbar-icon {
  -moz-binding: url(chrome://socialite/content/urlBarIcon.xml#site-urlbar-icon);
}

.socialite-urlbar-icon {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.socialite-urlbar-icon image[anonid="imgSite"] {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  opacity: .8;
}

.socialite-urlbar-icon:hover image[anonid="imgSite"] {
  opacity: 1;
}

.socialite-urlbar-icon image[anonid="imgAlert"] {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 6px;
  height: 6px;
  display: none;
}

.socialite-urlbar-icon[isAlert=true] image[anonid="imgAlert"] {
	display: block;
}


hbox[anonid="loadedSiteSelector"] {
  -moz-binding: url(chrome://socialite/content/socialiteBar.xml#socialite-loaded-site-selector);
}

.socialite-form-error {
  color: red;
}
