.socialite-title {
  margin-bottom: 2px !important;
}

.socialite-separator {
  margin-left: 7px !important;
  margin-right: 7px !important;
  border: none !important;
  border-left: 1px solid black !important;
  opacity: 0.25;
}

notification[value="socialite-header"] {
  -moz-binding: url(chrome://socialite/content/socialiteBar.xml#socialitebar);
}