.socialite-title {
  margin-bottom: 2px !important;
}

.socialite-site-name {
  margin-right: 0;
}

.socialite-separator {
  margin-left: 7px !important;
  margin-right: 7px !important;
  border: none !important;
  border-left: 1px solid black !important;
  opacity: 0.25;
}

.socialite-menulist-iconic > menupopup > .menuitem-iconic  > .menu-iconic-left {
	/* Why on earth do I have to do this? */
	display: -moz-box;
}

.socialite-menulist-compact > menupopup > menuitem {
  /* Ditto. Wtf? Why does every single menuitem waste 30px of space on the right? */
  padding-right: 0;
}

.socialite-menulist-compact > menupopup > menuitem > .menu-accel-container {
  display: none;
}


hbox[anonid="siteSelector"] {
	-moz-binding: url(chrome://socialite/content/socialiteBar.xml#socialitesiteselector);
}

notification[value="socialitebar-notification"] {
  -moz-binding: url(chrome://socialite/content/socialiteBar.xml#socialitebar);
}

.socialite-no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.socialite-button-compact {
  min-width: 0;
}
.socialite-button-compact .button-box {
  margin-left: 3px;
  margin-right: 3px;
}
.socialite-button-iconic .button-icon {
  margin: 0;
}
.socialite-button-iconic .button-text {
  display: none;
}

.socialite-urlbar-icon {
  opacity: .8;
  margin-right: 3px;
}

.socialite-urlbar-icon:hover {
  opacity: 1;
}